<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <h1>Account Management</h1>
        <% } %>

            <!-- Flash Messages -->
            <% if (success && success.length> 0) { %>
                <div class="flash-message success">
                    <%= success[0] %>
                </div>
                <% } %>

                    <% if (error && error.length> 0) { %>
                        <div class="flash-message error">
                            <%= error[0] %>
                        </div>
                        <% } %>

                            <!-- Validation Errors -->
                            <% if (errors && errors.length> 0) { %>
                                <div class="error-container">
                                    <ul>
                                        <% errors.forEach(error=> { %>
                                            <li>
                                                <%= error.msg %>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </div>
                                <% } %>

                                    <!-- Page Content -->
                                    <div class="content-container">
                                        <p>You're logged in.</p>

                                        <h2>Welcome <%= user.account_firstname %>
                                        </h2>

                                        <!-- Update Account Link (for all users) -->
                                        <p><a href="/account/update" title="Go to Account Management Page"><%= user.account_firstname %> <%= user.account_lastname %>  Click Here to Update Account Information</a></p>

                                        <!-- Inventory Management (for Employee or Admin only) -->
                                        <% if (user.account_type==="Employee" || user.account_type==="Admin" ) { %>
                                            <h3>Inventory Management</h3>
                                            <p><a href="/inv/" title="Go to Inventory Management">Click Here to go to Inventory
                                                    Management</a></p>
                                            <% } %>
                                    </div>
  