<% if (item) { %>
    <h1>
        <%= item.inv_make %>
            <%= item.inv_model %>
    </h1>

    <div class="item-details">
        <img class="full-img" src="<%= item.inv_image %>"
            onerror="this.onerror=null;this.src='/images/vehicles/default.jpg';"
            alt="Image of <%= item.inv_make %> <%= item.inv_model %>" width="500">
        <img class="thumbnail-img" src="<%= item.inv_thumbnail %>"
            onerror="this.onerror=null;this.src='/images/vehicles/default-tn.jpg';"
            alt="Thumbnail of <%= item.inv_make %> <%= item.inv_model %>" width="200">

        <ul class="details-list">
            <li><strong>Make:</strong>
                <%= item.inv_make.toLocaleString() %>
            </li>
            <li><strong>Model:</strong>
                <%= item.inv_model.toLocaleString() %>
            </li>
            <li><strong>Price:</strong>
                <%= new Intl.NumberFormat('en-US', { style: 'currency' , currency: 'USD' }).format(item.inv_price) %>
            </li>
            <li><strong>Description:</strong>
                <%= item.inv_description %>
            </li>
            <li><strong>Color:</strong>
                <%= item.inv_color %>
            </li>
            <li><strong>Mileage:</strong>
                <%= item.inv_miles.toLocaleString() %> miles
            </li>
        </ul>


        <div class="review-list">
            <!-- Reviews section -->
            <h2>Reviews</h2>
        
            <% if (reviews && reviews.length> 0) { %>
                <ul>
                    <% reviews.forEach(review=> { %>
                        <li class="review-item">
                            <strong>
                                <%= review.account_firstname %>:
                            </strong><br>
                            Rating: <span><%- review.ratingStars %></span><br>
                            "<%- review.review_text %>"
                        </li>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>No reviews yet.</p>
                    <% } %>
        
                        <!-- Add review link -->
                        <a class="review-button" href="/reviews/add/<%= item.inv_id %>">
                            Click here to leave a review
                        </a>    
        </div>
        
    </div>
    <% } else { %>
        <h1>Item not found</h1>
        <p>We couldn’t find the item you’re looking for.</p>
        <% } %>
  